*pyc
*/__pycache__/*
dist/*
documentation/doctrees/*
.DS_Store
bloxone/__pycache__/*
bloxone.egg-info/*
build/*
bloxone/__pycache__/__init__.cpython-39.pyc
bloxone/__pycache__/b1oph.cpython-39.pyc
bloxone/__pycache__/b1td.cpython-39.pyc
bloxone/__pycache__/b1tdc.cpython-39.pyc
bloxone/__pycache__/bloxone.cpython-39.pyc
bloxone.egg-info/PKG-INFO
bloxone.egg-info/SOURCES.txt
build/lib/bloxone/__init__.py
build/lib/bloxone/b1tdc.py
build/lib/bloxone/bloxone.py
bloxone/__pycache__/bloxone.cpython-39.pyc
bloxone/__pycache__/bloxone.cpython-39.pyc
